label.error {
  position: absolute;
  top: -28px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}
#checkbox-error {
  top: -15px;
  left: 50%;
}
